<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        h4 {
            color: rgb(7, 7, 6);
        }
        
        div {
            padding-top: 20px;
            margin: auto;
            text-align: center;
        }
        
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome to our Casting Agency</h1>
    <div>
        <button type="button" class="btn btn-primary"><a href="https://apollo151.eu.auth0.com/authorize?audience=casting_agency&response_type=token&client_id=fWTk8Lf6K8b7OWtX2hnF1zvFqN8v5Up2&redirect_uri=http://127.0.0.1:8080/login_results"><h4>login</h4></a></button>
    </div>
</body>
</body>

</html>